
  <div class="row">
    <div class="large-10 large-offset-1 columns">
      <div id="Intro" class="panel">
        <h5>Enhanced and extensible html for your web apps<hr></h5>
        <h4>Angular.js</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <h5 class="subheader">Targets:</h5>
    </div>
    <div class="large-6 columns">
      <h5 class="subheader">Notes:</h5>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns"><hr></div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <dl>
        <dt>Official Website:</dt>
        <dd><a href="http://angularjs.org/" target="_blank">Google - Angular.js</a></dd>
      </dl>
    </div>
    <div class="large-4 columns">
      <dl>
        <dt>Repository:</dt>
        <dd><a href="https://github.com/angular/angular.js">Github - Angular.js</a></dd>
      </dl>
    </div>
    <div class="large-4 columns">
      <dl>
        <dt>License:</dt>
        <dd><a href="https://github.com/angular/angular.js/blob/master/LICENSE">MIT License</a></dd>
      </dl>
    </div>
  </div>
