
  <div class="row">
    <div class="large-10 large-offset-1 columns">
      <div id="Intro" class="panel">
        <h5>The next generation of web applications<hr /></h5>
        <h4>Start building today</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <ul class="pricing-table">
        <li class="title">OpenShift</li>
        <li class="description">Open Source Cloud</li>
        <li class="bullet-item">Ease of use</li>
        <li class="bullet-item">Auto scaling</li>
        <li class="bullet-item">Pay as you go</li>
        <li class="cta-button"><a class="button small radius expand" href="/OpenShift">read more</a></li>
      </ul>
    </div>
    <div class="large-3 columns">
      <ul class="pricing-table">
        <li class="title">Node.js</li>
        <li class="description">Server Side Code</li>
        <li class="bullet-item">Lightweight</li>
        <li class="bullet-item">Event driven</li>
        <li class="bullet-item">Build to scale</li>
        <li class="cta-button"><a class="button small radius expand" href="/Node">read more</a></li>
      </ul>
    </div>
    <div class="large-3 columns">
      <ul class="pricing-table">
        <li class="title">Angular.js</li>
        <li class="description">Client Side Code</li>
        <li class="bullet-item">Extensible</li>
        <li class="bullet-item">Enhanced html</li>
        <li class="bullet-item">Empowers designer</li>
        <li class="cta-button"><a class="button small radius expand" href="/Angular">read more</a></li>
      </ul>
    </div>
    <div class="large-3 columns">
      <ul class="pricing-table">
        <li class="title">Foundation</li>
        <li class="description">Responsive Design</li>
        <li class="bullet-item">Mobile first</li>
        <li class="bullet-item">Clean semantics</li>
        <li class="bullet-item">Flexible and efficient</li>
        <li class="cta-button"><a class="button small radius expand" href="/Foundation">read more</a></li>
      </ul>
    </div>
  </div>
