
  <div class="row">
    <div class="large-10 large-offset-1 columns">
      <div id="Intro" class="panel">
        <h5>Easily building fast and scalable network applications<hr></h5>
        <h4>Node.js</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-5 large-offset-1 columns">
      <h5 class="subheader">Notes:</h5>
    </div>
    <div class="large-5 pull-1 columns">
      <h5 class="subheader">Targets:</h5>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns"><hr></div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <dl>
        <dt>Official Website:</dt>
        <dd><a href="http://nodejs.org/" target="_blank">Joyent - Node.js</a></dd>
      </dl>
    </div>
    <div class="large-4 columns">
      <dl>
        <dt>Repository:</dt>
        <dd><a href="https://github.com/joyent/node">Github - Joyent Node</a></dd>
      </dl>
    </div>
    <div class="large-4 columns">
      <dl>
        <dt>License:</dt>
        <dd><a href="https://github.com/joyent/node/blob/master/LICENSE">MIT + Mixed Dep.</a></dd>
      </dl>
    </div>
  </div>
