
  <div class="row">
    <div class="large-10 large-offset-1 columns">
      <div id="Intro" class="panel">
        <h5>Develop, host and scale applications in a cloud environment<hr></h5>
        <h4>OpenShift Online</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <h5 class="subheader">Targets:</h5>
    </div>
    <div class="large-6 columns">
      <h5 class="subheader">Notes:</h5>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns"><hr></div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <dl>
        <dt>Official Website:</dt>
        <dd><a href="https://www.openshift.com/" target="_blank">Redhat - OpenShift</a></dd>
      </dl>
    </div>
    <div class="large-4 columns">
      <dl>
        <dt>Repository:</dt>
        <dd><a href="https://github.com/openshift/origin-server">Github - OpenShift Origin</a></dd>
      </dl>
    </div>
    <div class="large-4 columns">
      <dl>
        <dt>License:</dt>
        <dd><a href="https://github.com/openshift/origin-server">Apache License 2.0 + Mixed dep.</a></dd>
      </dl>
    </div>
  </div>
